#app {
	position: absolute;
	background-image: url("images/tweed.png");
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 100%;
	height: 1200px;
}

#column {
	z-index: 10;
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 870px;
	margin: 20px auto;
	border: solid rgba(255, 255, 255, .3) 5px;
	box-shadow: 0px 7px 28px rgba(0, 0, 0, .7);
}

#instructions{
	width: 800px;
	height: 80px;
	margin: 0 auto 0 auto;
	border-bottom: 2px solid black;
	background-color: lightgrey;
}

#instructions h1{
	font-size: 30px;
	text-align: center;
	margin: 0px auto 2px auto;
}

#instructions p{
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin: auto;
}

#color_wrapper{
	width: 800px;
	height: 76px;
	margin: 0 auto 0 auto;
	background-color: white;
	border-top: 2px solid black;
}

.color {
	width: 100px;
	height: 76px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	margin: 0 25px 0 30px;
	float: left;
}

#critic{
	width: 800px;
	height: 106px;
	margin: 0 auto 0 auto;
	border-top: 2px solid black;
	background-color: lightgrey;
}

#critic h1{
	font-weight: bold;
	font-size: 26px;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 6px;
}

#critic p{
	font-size: 18px;
	text-align: center;
	margin: 4px 100px 8px 100px;
}

#view {
	z-index: 20;
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 600px;
}

#processingCanvas {
	width: 100%;
	height: 100%;
}

#buttons {
	z-index: 30;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 30px;
}
button {
	font-size: 12px;
	background-color: rgba(130, 150, 200, 1);
	border-radius: 15px;
	border: 0;
	color: white;
	cursor: pointer;
	cursor: hand;
	pointer-events: all;
}
button:active {
	background-color: rgba(220, 220, 240, 1);
}
button:hover {
	background-color: rgba(130, 150, 240, 1);
}
button:focus {
	outline: none;
}
